div.panel {
/*     padding: 0 1em 0 0; */
    margin: 0;
    /* border: 4px solid #eee;
    border-radius: 4px; */
    background-color: black;
    display: block;
    max-height: 100%;
    width:100%;
    overflow-y: auto;
    border-bottom: 1px solid #D3D3D3;
    border-top:none;
    border-right:none;
    border-left:none;
    border-radius:0;
    color:#111;
}

ul.innerul{
	list-style:none;
/* 	height: 100%; */
    width:100%;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding:0 0 0 32px;
    
}

ul.oordadlista{
	list-style:none;
	background-color: #FFF;
/* 	height: 100%; */
    width:100%;
    margin:0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding:0;
}

.layer label{
 font-weight:500!Important;
 }


